// Import rule will grdually phase out. when this happens use @use instead
@import "./variables.scss";

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  height: 8%;
  border-bottom: 1px solid rgb(90, 85, 85);

  > * {
    margin: 20px 40px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  align-items: center;

  #logo {
    width: 2rem;
    cursor: pointer;
  }
}

.menu-button {
  display: none;
}

.menu-items > ul {
  display: flex;

  > li {
    margin: 0 10px;
    cursor: pointer;
    color: $primary-colour;
  }
}

@media (max-width: $mobile-size) {
  .nav {
    font-size: 1.5rem;
  }

  .sticky {
    background-color: $primary-bg-colour;
  }

  .menu-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $primary-colour;
    font-size: 1rem;
  }

  .fa-bars,
  .fa-times {
    width: 1.5rem;
  }

  .menu-items > ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;

    background-color: $primary-bg-colour;

    > li {
      transition: 2s ease-in-out;
      margin: 10px;
    }
  }

  .close {
    display: none;
  }

  .open {
    display: block;

    > ul {
      top: 3rem;
      right: 0;
      left: 0;
    }
  }
}
