// Import rule will grdually phase out. when this happens use @use instead
@import './variables.scss';
@import './mixins.scss';

.skills-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 13%;
    gap: 20px;
}

.skill {
    @include centerAll;
    flex-direction: column;
    min-width: 0;
    font-size: 1rem;
    border: 2px solid $primary-colour;
    padding: 10px;
    background-color: rgb(147, 140, 140);
    border-radius: 10px;
    position: relative;

    > img {
        inline-size: 100%;
    }

    > p {
        margin-top: 10px;
    }
}

.ordered-number {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
}